.text {
    max-width: 756px;
    font-size: 20px;
    line-height: 1.5;
}

.text p {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.5;
}

.text h2 {
    font-size: 38px;
    margin-bottom: 32px;
    font-family: var(--font-family-heading);
}
