.cards h2 {
    text-align: center;
}

.cardsContent {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5em;

    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        column-gap: 4em;
    }

    @media screen and (min-width: 860px) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4em;
    }
}
