.imageText {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
    align-content: center;
    justify-content: center;

    @media (screen and min-width: 980px) {
        flex-direction: row;
        justify-content: flex-start;
        gap: 4em;
    }
}

.imageTextImage {
    width: 100%;
}

.imageTextImage__img {
    height: auto;
}

.imageTextImageRounded {
    border-radius: 50%;
}

.imageTextImageLeft {
    flex-direction: row;
}

.imageTextImageRight {
    flex-direction: row-reverse;
}

.imageText__copy {
    flex: 2;
}

.imageTextCopy {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 18px;

    @media screen and (min-width: 600px) {
        font-size: 22px;
    }
}
