.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1.5em;
  text-align: center;
  min-width: 100px;
  padding: 4em 1.5em 1.5em;
  background-color: var(--background-highlight);
  border: 1px solid #EF8C98;
  border-radius: 20px;
  margin-top: 20px;

  h3 {
    margin-bottom: 0;
  }
}

.productMostPopular {
  background-color: var(--background-alt2);
  border: 1px solid var(--color-secondary-light);
  position: relative;

  &:before {
    content: "Most Popular";
    background-color: var(--color-secondary-light);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 1em 1px;
    text-align: center;
    position: absolute;
    top: -15px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.productDesc {
  min-height: 65px;
}

.productPrice {
  font-size: 48px;
  font-weight: 900;
  font-family: var(--font-family-heading);

  span {
    font-size: 12px;
    opacity: 0.8;
    font-weight: 400;
    margin-left: 5px;
  }
}

.productShipping {
  opacity: 0.5;
  font-size: 14px;
}
