.product {
  display: flex;
  min-width: 100px;
  padding: 1.5em;
  background-color: var(--background-highlight);
  border: 1px solid var(--color-highlight);
  border-radius: 20px;
}

.productMostPopular {
  background-color: var(--background-alt2);
  border: 1px solid var(--color-secondary);

  &:before {
    content: "Most Popular";
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 1em;
    text-align: center;
  }
}

.productLink {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productLinkCopy {
  background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1030 538.747c27.61 0 50 22.386 50 50v351.253c0 77.32-62.68 140-140 140h-800c-77.32 0-140-62.68-140-140v-800c0-77.32 62.68-140 140-140h351.264c27.614 0 50 22.386 50 50 0 27.614-22.386 50-50 50-107.561 0-351.264 0-351.264 0-22.091 0-40 17.909-40 40v800c0 22.091 17.909 40 40 40h800c22.091 0 40-17.909 40-40v-351.255c0-13.26 5.268-25.978 14.644-35.354 9.376-9.377 22.096-14.644 35.356-14.644z'/%3E%3Cpath d='m691.264 50c0-27.614 22.386-50 50-50h238.736c77.32 0 100 22.68 100 100v238.793c0 27.589-22.37 49.954-49.95 49.954h-.1c-27.58 0-49.95-22.365-49.95-49.954 0-72.625 0-198.793 0-198.793 0-22.091-17.909-40-40-40 0 0-126.107 0-198.736 0-27.614 0-50-22.386-50-50z'/%3E%3Cpath d='m856.199 0c5.233 0 9.475 21.739 9.475 48.554v.001c0 26.816-4.242 48.554-9.475 48.554-23.387 0-83.648 0-107.035 0-5.233 0-9.476-21.738-9.476-48.554v-.001c0-26.815 4.243-48.554 9.476-48.554z' transform='matrix(3.72574 -3.72574 .727112 .727112 -2215.88 3225.28)'/%3E%3C/svg%3E");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 1.5em;
  margin-top: auto;
  text-align: right;
}
