.testimonial {
  display: flex;
  flex-direction: column;
  //border: 1px solid var(--border-divider);
  border: none;
  padding: 2em;
  font-size: 1.2rem;
  line-height: 1.35;
  position: relative;

  &:before,
  &:after {
    color: var(--color-primary);
    position: absolute;
    font-size: 3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
  }

  &:before {
    content: '';
    left: 0;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' fill='%23DB5361' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 76 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m726.628 601.941c-15.343 2.937-29.603 7.003-42.778 12.198-13.176 5.196-24.683 11.238-34.523 18.128s-17.595 14.288-23.266 22.194c-5.67 7.906-8.505 16.038-8.505 24.396 0 4.97 1.501 9.318 4.503 13.045s6.504 5.591 10.507 5.591c4.336 0 7.921-.565 10.757-1.694 2.835-1.13 5.754-2.372 8.756-3.727 3.002-1.356 6.42-2.598 10.256-3.728 3.836-1.129 8.923-1.694 15.261-1.694 6.671 0 12.925.96 18.762 2.88s11.007 4.575 15.51 7.963 8.089 7.454 10.757 12.198c2.669 4.744 4.003 9.826 4.003 15.248 0 5.873-1.834 11.294-5.504 16.264-3.669 4.969-8.589 9.261-14.759 12.876-6.171 3.614-13.343 6.494-21.515 8.64s-16.928 3.219-26.267 3.219c-12.342 0-23.849-1.864-34.523-5.591s-20.013-8.81-28.019-15.248c-8.005-6.437-14.343-13.892-19.012-22.363-4.67-8.471-7.005-17.563-7.005-27.276 0-15.361 4.253-29.479 12.758-42.355 8.506-12.875 19.847-24.113 34.023-33.714 14.176-9.6 30.771-17.281 49.783-23.041 19.013-5.76 39.026-9.092 60.04-9.995zm180.62 0c-15.01 2.937-29.186 7.003-42.528 12.198-13.342 5.196-24.85 11.238-34.523 18.128s-17.345 14.288-23.015 22.194c-5.671 7.906-8.506 16.038-8.506 24.396 0 4.97 1.418 9.318 4.253 13.045s6.421 5.591 10.757 5.591 7.922-.565 10.757-1.694c2.835-1.13 5.671-2.372 8.506-3.727 2.835-1.356 6.171-2.598 10.006-3.728 3.836-1.129 8.923-1.694 15.261-1.694 6.671 0 12.925.96 18.762 2.88s11.007 4.575 15.51 7.963 8.089 7.454 10.758 12.198c2.668 4.744 4.002 9.826 4.002 15.248 0 5.873-1.751 11.294-5.253 16.264-3.503 4.969-8.339 9.261-14.51 12.876-6.171 3.614-13.425 6.494-21.764 8.64s-17.178 3.219-26.518 3.219c-12.342 0-23.849-1.864-34.523-5.591s-20.013-8.81-28.019-15.248c-8.005-6.437-14.342-13.892-19.012-22.363s-7.005-17.563-7.005-27.276c0-15.361 4.253-29.479 12.759-42.355 8.505-12.875 19.93-24.113 34.272-33.714 14.343-9.6 30.938-17.281 49.783-23.041 18.846-5.76 38.776-9.092 59.79-9.995z' fill-rule='nonzero' transform='matrix(.223647 0 0 .330241 -127.483991 -193.638429)'/%3E%3C/svg%3E");
  }

  &:after {
    content: '';
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml,%0A%3Csvg clip-rule='evenodd' fill-rule='evenodd' fill='%23DB5361' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 76 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m570.024 750.351c15.01-2.936 29.186-7.002 42.528-12.198 13.342-5.195 25.017-11.238 35.024-18.127 10.006-6.89 17.845-14.288 23.515-22.194 5.671-7.906 8.506-16.038 8.506-24.396 0-4.97-1.501-9.318-4.503-13.046-3.002-3.727-6.838-5.59-11.508-5.59-4.002 0-7.338.564-10.006 1.694-2.669 1.129-5.504 2.372-8.506 3.727s-6.421 2.598-10.257 3.727c-3.836 1.13-8.923 1.694-15.26 1.694-6.671 0-13.009-.96-19.013-2.88s-11.257-4.631-15.76-8.132-8.089-7.567-10.757-12.198c-2.669-4.631-4.003-9.657-4.003-15.078 0-5.873 1.751-11.351 5.253-16.434 3.503-5.082 8.423-9.431 14.76-13.045 6.338-3.614 13.593-6.438 21.765-8.471s17.094-3.049 26.768-3.049c12.341 0 23.849 1.863 34.523 5.59 10.673 3.728 20.013 8.81 28.018 15.248s14.26 13.892 18.763 22.363 6.754 17.563 6.754 27.277c0 15.36-4.253 29.478-12.758 42.354-8.506 12.876-19.847 24.114-34.023 33.714-14.176 9.601-30.77 17.281-49.783 23.041s-39.026 9.092-60.04 9.996zm180.62 0c15.344-2.936 29.687-7.002 43.029-12.198 13.342-5.195 24.933-11.238 34.773-18.127 9.84-6.89 17.595-14.288 23.265-22.194 5.671-7.906 8.506-16.038 8.506-24.396 0-4.97-1.418-9.318-4.253-13.046-2.835-3.727-6.588-5.59-11.257-5.59-4.003 0-7.339.564-10.007 1.694-2.668 1.129-5.504 2.372-8.506 3.727s-6.421 2.598-10.256 3.727c-3.836 1.13-8.923 1.694-15.261 1.694-7.004 0-13.509-.96-19.513-2.88s-11.257-4.631-15.76-8.132-8.089-7.567-10.757-12.198c-2.669-4.631-4.003-9.657-4.003-15.078 0-5.873 1.835-11.351 5.504-16.434 3.669-5.082 8.589-9.431 14.76-13.045 6.17-3.614 13.425-6.438 21.764-8.471s17.345-3.049 27.018-3.049c12.342 0 23.849 1.863 34.523 5.59 10.674 3.728 19.93 8.81 27.768 15.248 7.839 6.438 14.01 13.892 18.513 22.363s6.754 17.563 6.754 27.277c0 15.36-4.169 29.478-12.508 42.354s-19.68 24.114-34.023 33.714c-14.343 9.601-31.02 17.281-50.033 23.041s-39.026 9.092-60.04 9.996z' fill-rule='nonzero' transform='matrix(.223647 0 0 .330241 -127.483991 -193.638429)'/%3E%3C/svg%3E");
  }
}

.testimonialTitle {
  font-size: 24px;
}

.testimonialQuote {
  margin-bottom: 24px;
}

.testimonialQuotee {
  font-size: 17px;
  opacity: 0.5;
  font-style: normal;
  margin-top: auto;
  display: block;
}

.testimonialSource {
  font-size: 15px;
  padding-right: 1.5em;
  display: flex;
  gap: 10px;
  margin-top: 12px;

  &:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1030 538.747c27.61 0 50 22.386 50 50v351.253c0 77.32-62.68 140-140 140h-800c-77.32 0-140-62.68-140-140v-800c0-77.32 62.68-140 140-140h351.264c27.614 0 50 22.386 50 50 0 27.614-22.386 50-50 50-107.561 0-351.264 0-351.264 0-22.091 0-40 17.909-40 40v800c0 22.091 17.909 40 40 40h800c22.091 0 40-17.909 40-40v-351.255c0-13.26 5.268-25.978 14.644-35.354 9.376-9.377 22.096-14.644 35.356-14.644z'/%3E%3Cpath d='m691.264 50c0-27.614 22.386-50 50-50h238.736c77.32 0 100 22.68 100 100v238.793c0 27.589-22.37 49.954-49.95 49.954h-.1c-27.58 0-49.95-22.365-49.95-49.954 0-72.625 0-198.793 0-198.793 0-22.091-17.909-40-40-40 0 0-126.107 0-198.736 0-27.614 0-50-22.386-50-50z'/%3E%3Cpath d='m856.199 0c5.233 0 9.475 21.739 9.475 48.554v.001c0 26.816-4.242 48.554-9.475 48.554-23.387 0-83.648 0-107.035 0-5.233 0-9.476-21.738-9.476-48.554v-.001c0-26.815 4.243-48.554 9.476-48.554z' transform='matrix(3.72574 -3.72574 .727112 .727112 -2215.88 3225.28)'/%3E%3C/svg%3E");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
  }

  &:hover,
  &:active {
    color: var(--color-highlight);

    &:after {
      background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 1080 1080' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23DA2B42' d='m1030 538.747c27.61 0 50 22.386 50 50v351.253c0 77.32-62.68 140-140 140h-800c-77.32 0-140-62.68-140-140v-800c0-77.32 62.68-140 140-140h351.264c27.614 0 50 22.386 50 50 0 27.614-22.386 50-50 50-107.561 0-351.264 0-351.264 0-22.091 0-40 17.909-40 40v800c0 22.091 17.909 40 40 40h800c22.091 0 40-17.909 40-40v-351.255c0-13.26 5.268-25.978 14.644-35.354 9.376-9.377 22.096-14.644 35.356-14.644z'/%3E%3Cpath fill='%23DA2B42' d='m691.264 50c0-27.614 22.386-50 50-50h238.736c77.32 0 100 22.68 100 100v238.793c0 27.589-22.37 49.954-49.95 49.954h-.1c-27.58 0-49.95-22.365-49.95-49.954 0-72.625 0-198.793 0-198.793 0-22.091-17.909-40-40-40 0 0-126.107 0-198.736 0-27.614 0-50-22.386-50-50z'/%3E%3Cpath fill='%23DA2B42' d='m856.199 0c5.233 0 9.475 21.739 9.475 48.554v.001c0 26.816-4.242 48.554-9.475 48.554-23.387 0-83.648 0-107.035 0-5.233 0-9.476-21.738-9.476-48.554v-.001c0-26.815 4.243-48.554 9.476-48.554z' transform='matrix(3.72574 -3.72574 .727112 .727112 -2215.88 3225.28)'/%3E%3C/svg%3E");
    }
  }
}


.testimonialSpotlight {
  text-align: center;

  .testimonial {
    font-size: 24px;
    margin: 0 auto;
    border: none;
    padding: 1em;
  }

  .testimonialQuote {
    font-size: 18px;
  }
}

.testimonialLink {
  display: inline-block;
  margin-top: 20px;
}
