.slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  margin: 0 auto;
}

.quotee {
  font-size: 17px;
  opacity: 0.5;
  font-style: normal;
}

.testimonial {
  border: 1px solid lightgrey;
  padding: 2em;
  font-size: 1.2rem;
  line-height: 1.35;
}

.testimonialSingle {
  .testimonial {
    font-size: 22px;
  }
}
