.testimonial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
}

.quote {
  font-size: 22px;
}

.quotee {
  font-size: 17px;
  opacity: 0.5;
  font-style: normal;
}
